@media screen and (max-width:600px) {
   nav{
    flex-direction: column;
   }
   nav ul{
    flex-direction: column;
    /* display: none; */
    margin-left:30px;
   }
    
    .nav-head{
        flex-direction:row;
        width: 100%;
        margin-left: 30px;
    }
    .grid1{
       flex-direction: column; 
       margin-left: -5px;    
    }
    .grid2{
        grid-template-columns: 1fr;
    }
    .grid3{
        grid-template-columns: 1fr;
      
    }
  
    .newsletter{
       flex-direction:column;     
    }
    .main-header{
        flex-direction: column;
    }
    .inner{
        flex-direction: column;
        margin: 0 auto;
        height: 200px;
        margin-left:80px;
        margin-top: 50px;
    }
    .banner{
        width:320px;
        height:450px;
        margin-left:-10px;
        
    }
    .banner h2{
        font-size:30px;
        font-weight:700px;
        margin-left:-10px;
        height: 80px;
        width: 300px;
    }
    .banner p{
        width:260px;
        height:70px ;
        text-align: left;
        text-wrap: wrap;
        margin-left:30px;
        margin-top: -40px;
    }
    .banner img{
        width:100%;
    }
    .main-card{
        flex-direction: column;
    }
    .news-description{
        background-position: left;
    
        margin-left:-100px;
    }
    .news-img{
        margin-top: 10px;
        margin-left: -100px;
        width: 390px;

    }
  .main-header{
    margin-left:-53px;
    width: 300px;
    height: 400px;
  }
  .main-description{
    height:200px;
  }
  .main-description h2{
    margin-left:-19px;
    font-size: 30px;
    font-weight: 500px;
    width:300px;
  }
  .main-description p{
    margin-left: -19px;
    width:250px;
    height:80px;
  }
  .main-description li{
    margin-top: -1000px;
    width:280px;
    height: 200px;
    height: 100px;
    margin:0 auto ;
    padding:0 0;
    flex-wrap: wrap;
  }
  .main-img{
    margin-left: -10px;
    margin-top:250px;
  }
  .main-img img{
    width:300px;
    height: 300px;
    margin-top: 10px;
  }
  .Destination{
    margin-top: 400px;
  }
  .my-destination h2    {
    margin-left: -140px;
    font-size: 25px;
    font-weight: 500;
  }
    .my-destination p{
        height: 100px;
        width: 300px;
        margin-left: -1px;
    }
    .grid1 img{
        width:300px;
        height: 200px;
    }
    .grid2 img{
        width:300px;
        height: 200px;
    }
    .grid3 img{
        width:300px;
        height: 200px;
    }
    .decoration h2{
        margin-left: -80px;
    }
    .decoration p{
        width: 290px;
        height: 72px;
        text-align: left;
        margin-left:1px;
    }
    .hotel-card{
        width: 300px;
        height: 200px;
        gap: 10px;
        margin-top: 20px;
    }
    .hotel-card p{
        width: 280px;
        height: 70px;
    }
    .world-card{
        width: 300px;
        height: 200px;
        gap: 10px;
    }
    .world-card p{
        width: 280px;
        height: 70px;
    }
    .price-card{
        width: 300px;
        height: 200px;
        gap: 10px;
        margin-left: -1px;
    }
    .price-card p{
        width: 280px;
        height: 70px;
    }
    .news-description{
        width: 300px;
        height: 300px;
    }
    .news-description p{
        width: 280px;
        height: 70px;
    }
    .news-description input{
        width:280px;
       
    }
    .news-img{
        margin-top: 40px;
    }
    .news-img img{
        width: 300px;
        height: 200px;
    }
    .perfect{
        flex-direction: column;
        
    }
    .perfect-title{
        margin-left:1px;
    }
    .perfect-image {
        width:330px;
        height: 200px;
    }
    .perfect-title h2{
        width: 280px;
        height: 50px;
    }
    .perfect-title p{
        width: 280px;
        height: 75px;
    }
    .perfect-title li{
        width: 280px;
        height: 50px;
    }
    .travel{
        margin-right:-20px;
        margin-left: 60px;
        width: 220px;
        height: 80px;
    }
    .footer{
       max-width: 300px;
       height:200px;
    }
    .footer p{
        width: 280px;
        height: 80px;
    }
    .svg{
        padding-left: 20%;
        padding-top: 10px;
    }
    .last{
       
      margin-left: -33
      0px;
    }
    .main-description p{
        width:280px;
    }
    .paragraph{
      margin: 0 auto;
    }
}